/* BASIC STYLES HERE */
:root {
  --robin-egg: #88CDDD;
  --electric-ostrich: #F3FD37;
}

body {
  background-color: var(--robin-egg);
}

header {
  background-image: url(/assets/img/Clouds.png);
  background-size: cover;
}

input,
textarea {
  border: 3px solid black !important;
}

textarea {
  min-height: 20vh !important;
}

footer {
  min-height: 12dvh;
  background-image: url(/assets/img/Grass.png);
  background-size: cover;
}

.finger-paint-font {
  font-family: "Finger Paint", sans-serif;
  font-style: normal;
}

.account-name {
  text-shadow: 1px 1px 4px black;
}

.font-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-electric-ostrich {
  color: var(--electric-ostrich);
}

.bird-form {
  background-color: var(--electric-ostrich);
}

.bird-card {
  background-color: var(--robin-egg);
  box-shadow: 8px 4px var(--electric-ostrich);
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.bird-img {
  width: 100%;
  height: 33vh;
  object-fit: cover;
}

.creator-picture {
  height: 7.3vh;
  width: 7.3vh;
  border-radius: 50%;
  object-fit: cover;
}

.bird-details-card {
  min-height: 60vh;
  background-color: rgba(64, 64, 64, 0.581);
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 2em;
  font-weight: bolder;
}

.bird-details-section {
  background-size: cover;
  background-position: center;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}